/* Type faces Import  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Roboto:wght@300;400;500&display=swap");

/* CSS rules to Type faces
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;


  */

:root {
  /* Color Variables  */
  --clr-primary: #000000; /* black */
  --clr-secondary: #333333; /* dark grey */
  --clr-accent: #e1e1e1; /* dark grey */
  --clr-light: #f5f5f5; /* very light grey */
  --clr-white: #ffffff; /* white */
  --clr-link--active: #1074ab; /* dark blue */

  --clr-blue-highlight: #0884c7; /* dark blue */
  --clr-blue-text: #466E84; /* dark blue */


 

  /* Site color Variables  */
  --clr-primary-text: #231007;
  --clr-secondary-text: #8ecddf;
  --clr-text-light: #dfd9c3;
  --clr-text-gray: #909090;
  --clr-text-accent: #62311f;
  --clr-text-white: #ffffff;

  --clr-primary-background: #faf9eb;
  --clr-secondary-background: #053855;


  
  --clr-accent-background: #d68c3d;

  /* Tonal  color Variables  */
  --clr-brown-light: #dfd9c3;
  --clr-brown-medium: #EFE8CB;
  --clr-sunset-light: #b6a248;
  --clr-sunset-dark: #d68c3d;
  --clr-gray-medium: #909090;
  --clr-blue-medium: #396f86;

  /* Functuonal gray tones*/
  --clr-black-100: #000000; /* Black */
  --clr-black-90: #2b2b2b; /* Very Dark Grey */
  --clr-black-80: #454c53; /* Darker Grey */
  --clr-black-70: #565a71; /* Dark Grey */
  --clr-black-60: #838385; /* Medium Dark Grey */
  --clr-black-50: #969696; /* Medium Grey */
  --clr-black-40: #a1a1a1; /* True Medium Grey */
  --clr-black-30: #c3c1c1; /* Medium Light Grey */
  --clr-black-20: #d2d2d2; /* Light Grey */
  --clr-black-10: #e1e1e1; /* Very Light Grey */
  --clr-black-5: #f4f2f2; /* Off White */

  /* Font-family variables */
  --font-family-main: "Open Sans", sans-serif;
  --font-family-secondary: "Roboto", sans-serif;

  /* Font-size variables */

  --font-size-small: 0.8rem; /* 12px */
  --font-size-standard: 0.875rem; /* 14px */
  --font-size-body: 0.938rem; /* 15px */
  --font-size-medium: 1rem; /* 16px */
  --font-size-17: 1.063rem; /* 17px */
  --font-size-18: 1.125rem; /* 18px */
  --font-size-large: 1.25rem; /* 20px */
  --font-size-heading: 1.37rem; /* 22px */
  --font-size-heading-2: 1.56rem; /* 24px */
  --font-size-largex: 1.625rem; /* 26px */
  --font-size-title-standar:  1.875rem; /* 30px */
  --font-size-headLine: 2.18rem; /* 34px */
  --font-size-h-38: 2.375rem; /* 38px */
  
  --font-size-hero-h1: 2.8rem; /* 45px */
  --font-size-hero-sub: 1rem; /* 16px */

  /* Font-weight variables */

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;


 /* Line Height variables */

 --line-height-1: 1.3rem; /* 20 px */
  --line-height: 1.5rem; /* default */
  --line-height-1-8: 1.8rem; 
  --line-heightdouble: 2rem;
  --line-heightTriple: 3rem;
  --line-height-quadruple: 4rem;

 /* spacing variables */
 --small-spacing: 0.5rem; /* 8px */
 --normal-spacing: 1rem; /* 16px */
 --spacing-1: 1.25rem; /* 20px */
 --spacing-15: 1.5rem; /* 24px */
 --spacing-2: 2rem; /* 32px */
 --spacing-3: 3rem; /* 48 */





 /* width variables */
 --width-full: 100%; 
  --width-90: 90%; 
  --width-80: 80%; 
  --width-70: 70%; 
   --width-60: 60%; 
   --width-50: 50%; 
   --width-40: 40%; 
   --width-30: 30%; 
   --width-20: 20%; 
   --width-10: 10%; 


/* max-width variables */

--max-w-300:300px;
--max-w-400:400px;
--max-w-500:500px;
--max-w-600:600px;
--max-w-700:700px;
--max-w-800:800px;
--max-w-900:900px;
--max-w-1000:1000px;
--max-w-1100:1100px;
--max-w-1200:1200px;
--max-w-1300:1300px;
--max-w-1400:1400px;
--max-w-1500:1500px;

/* min-width variables */

--min-w-300:300px;
--min-w-400:400px;
--min-w-500:500px;
--min-w-600:600px;
--min-w-700:700px;
--min-w-800:800px;
--min-w-900:900px;
--min-w-1000:1000px;
--min-w-1100:1100px;
--min-w-1200:1200px;
--min-w-1300:1300px;
--min-w-1400:1400px;
--min-w-1500:1500px;


/* Box sizing and CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
}

:root {
  overscroll-behavior: none;
}

/* Utility classes for font-family */
.u-font-family--main {
  font-family: var(--font-family-main);
}
.u-font-family--secondary {
  font-family: var(--font-family-secondary);
}

/* Utility classes for font-size */
.font-size--small {
  font-size: var(--font-size-small); /* 0.8rem / 12px */
}

.font-size--standard {
  font-size: var(--font-size-standard); /* 0.875rem / 14px */
}

.font-size--body {
  font-size: var(--font-size-body);  /* 15px */
}






.font-size--medium {
  font-size: var(--font-size-medium); /* 1rem / 16px */
}

.font-size-17 {
  font-size: var(--font-size-17); /* 1rem / 1px */
}

.font-size-18 {
  font-size: var(--font-size-18); /*  18px */
}



.font-size--large {
  font-size: var(--font-size-large); /* 1.25rem / 20px */
}
.font-size--largex {
  font-size: var(--font-size-largex); /* 1.625rem / 26px  */
}
.font-size--heading {
  font-size: var(--font-size-heading); /* 1.37rem / 22px */
}
.font-size--heading-2 {
  font-size: var(--font-size-heading-2); /* 1.56rem / 25px */
}

.font-size--title-standar {
  font-size: var(--font-size-title-standar); /* 1.875rem / 30px */
}

.font-size--headline {
  font-size: var(--font-size-headLine); /* 2.18rem / 35px */
}


.font-size--h2-38 {
  font-size: var(--font-size-h-38); /* 2.375/ 38px */
}


.font-size--hero-h1 {
  font-size: var(--font-size-hero-h1); /* 2.8rem / 45px */
}

.font-size--hero-sub {
  font-size: var(--font-size-hero-sub); /* 1rem / 16px */
}

/* Utility classes for font-weight */
.font-weight--light {
  font-weight: var(--font-weight-light);
}
.font-weight--regular {
  font-weight: var(--font-weight-regular);
}
.font-weight--medium {
  font-weight: var(--font-weight-medium);
}
.font-weight--bold {
  font-weight: var(--font-weight-bold);
}

/* Utility  text transform */

.u-text-upper{
text-transform: uppercase;

}
.u-text-lower{
  text-transform: lowercase;
  }

 .u-text-capitalize{
  text-transform: capitalize;

 }
  



/* Utility classes for text colors */
.text--primary {
  color: var(--clr-primary-text);
}
.text--secondary {
  color: var(--clr-secondary-text);
}
.text--accent {
  color: var(--clr-accent);
}
.text--light {
  color: var(--clr-text-light);
}
.text--gray {
  color: var(--clr-text-gray);
}
.text--link-active {
  color: var(--clr-link--active);
}
.u-blue-text {
  color: var(--clr-blue-text);
}




.text--white {
  color: var(--clr-white);
}
.text--primary-background {
  color: var(--clr-primary-background);
}
.text--secondary-background {
  color: var(--clr-secondary-background);
}
.text--brown-light {
  color: var(--clr-brown-light);
}



.text--sunset-light {
  color: var(--clr-sunset-light);
}
.text--sunset-dark {
  color: var(--clr-sunset-dark);
}
.text--brown-medium {
  color: var(--clr-gray-medium);
}
.text--blue-medium {
  color: var(--clr-blue-medium);
}
.text--blue-highlight {
  color: var(--clr-blue-highlight);
}
.text-black-100 {
  color: var(--clr-black-100);
}
.text-black-90 {
  color: var(--clr-black-90);
}
.text-black-80 {
  color: var(--clr-black-80);
}
.text-black-70 {
  color: var(--clr-black-70);
}
.text-black-60 {
  color: var(--clr-black-60);
}
.text-black-50 {
  color: var(--clr-black-50);
}
.text-black-40 {
  color: var(--clr-black-40);
}
.text-black-30 {
  color: var(--clr-black-30);
}
.text-black-20 {
  color: var(--clr-black-20);
}
.text-black-10 {
  color: var(--clr-black-10);
}
.text-black-5 {
  color: var(--clr-black-5);
}

/* Utility classes for background colors */
.bg-primary {
  background-color: var(--clr-primary);
}
.bg-secondary {
  background-color: var(--clr-secondary);
}
.bg-accent {
  background-color: var(--clr-accent);
}
.bg-light {
  background-color: var(--clr-light);
}

.bg-blue-highlight {
  background-color: var(--clr-blue-highlight);
}


  .bg-primary-background{

   background-color: var( --clr-primary-background);
  
}






.bg-white {
  background-color: var(--clr-white);
}

/* Background colors for specific purposes (text color variables being used for backgrounds*/
.bg-primary-text {
  background-color: var(--clr-primary-text);
}
.bg-secondary-text {
  background-color: var(--clr-secondary-text);
}
.bg-text-light {
  background-color: var(--clr-text-light);
}
.bg-text-gray {
  background-color: var(--clr-text-gray);
}
.bg-text-accent {
  background-color: var(--clr-text-accent);
}
.bg-text-white {
  background-color: var(--clr-text-white);
}

.bg-primary-background {
  background-color: var(--clr-primary-background);
}
.bg-secondary-background {
  background-color: var(--clr-secondary-background);
}
.bg-accent-background {
  background-color: var(--clr-accent-background);
}

.bg-brown-light {
  background-color: var(--clr-brown-light);
}

.bg-brown-medium {
  background-color: var(--clr-brown-medium);
}


.bg-sunset-light {
  background-color: var(--clr-sunset-light);
}
.bg-sunset-dark {
  background-color: var(--clr-sunset-dark);
}
.bg-gray-medium {
  background-color: var(--clr-gray-medium);
}
.bg-blue-medium {
  background-color: var(--clr-blue-medium);
}

.bg-black-100 {
  background-color: var(--clr-black-100);
}
.bg-black-90 {
  background-color: var(--clr-black-90);
}
.bg-black-80 {
  background-color: var(--clr-black-80);
}
.bg-black-70 {
  background-color: var(--clr-black-70);
}
.bg-black-60 {
  background-color: var(--clr-black-60);
}
.bg-black-50 {
  background-color: var(--clr-black-50);
}
.bg-black-40 {
  background-color: var(--clr-black-40);
}
.bg-black-30 {
  background-color: var(--clr-black-30);
}
.bg-black-20 {
  background-color: var(--clr-black-20);
}
.bg-black-10 {
  background-color: var(--clr-black-10);
}
.bg-black-5 {
  background-color: var(--clr-black-5);
}

/* Line height utilities */

.u-line-height-1 {
  line-height: var(--line-height-1);
}

.u-line-height-1-5 {
  line-height: var(--line-height);
}

.u-line-height-1-8 {
  line-height: var(--line-height-1-8);
}

.u-line-height-double {
  line-height: var(--line-heightdouble);
}

.u-line-height-triple {
  line-height: var(--line-heightTriple);
}

/* margin utilities */

/* margin auto */
.u-m-a {
  margin-left: auto;
  margin-right: auto;
}

.u-m-a-all {
  margin: auto;
}

/* list options */

.li-square {
  list-style: square;
}

.li-circle {
  list-style: circle;
}

.li-dash {
  content: "-";
  text-indent: -5px;
}

/* Spacing utilities */
.u-margin-top-normal {
  margin-top: var(--normal-spacing);
}

.u-padding-vertical-1 {
  padding-top: var(--normal-spacing) !important;
  padding-bottom: var(--normal-spacing) !important; /* Vertical padding */
}
.u-padding-horizontal-1 {
  padding-left: var(--normal-spacing) !important;
  padding-right: var(--normal-spacing) !important; /* Vertical padding */
}
.u-padding-horizontal-1-5 {
  padding-left: var(--spacing-15) !important;
  padding-right: var(--spacing-15) !important; /* Vertical padding */
}

.u-padding-horizontal-2 {
  padding-left: var(--spacing-3) !important;
  padding-right: var(--spacing-3) !important; /* Vertical padding */
}


/* Classes width*/
.u-width--full {
  width: var(--width-full);
}

.u-width--90 {
  width: var(--width-90);
}

.u-width--80 {
  width: var(--width-80);
}

.u-width--70 {
  width: var(--width-70);
}

/* Center text */
.u-center-text {
  text-align: center;
}

/* Left text */
.u-left-text {
  text-align: left;
}

.u-right-text {
  text-align: right;
}
/* Justify items */

.l-jc {
  justify-items: center;
}

/* Center blocks or elements inline-block */
.u-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Center both */
.u-center-both {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Center content horizontall Flexy*/
.u-center-flex-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Center content vertically */
.u-center-flx--vertical {
  display: flex;
  align-items: center;
}

/* Center content both horizontally and vertically */
.u-center-flex--both {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Layout 1 column */
.u-grid--1-column {
  display: grid;
  grid-template-columns: 1fr;
}

/* Layout 2 columns */
.u-grid--2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Layout  3 columns */
.u-grid--3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
/* Layout  2 columns */
.u-grid--2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Gaps */

.u-gap-1 {
  gap: 1rem;
}
.u-gap-1-5 {
  gap: 1.5rem;
}

.u-gap-1-7 {
  gap: 1.7rem;
}
.u-gap-1-8 {
  gap: 1.8rem;
}

.u-gap-2 {
  gap: 2rem;
}

.u-gap-3 {
  gap: 3rem;
}

/* Basic text elements */
body,
p {
  line-height: var(--line-height); /* Default line height for body text */
}

/* Headings */
h1 {
  line-height: var(
    --line-heightdouble
  ); /* Slightly more space for top-level headings */
}

h2 {
  line-height: var(
    --line-heightTriple
  ); /* Increased line height for secondary headings */
}

/* Blockquotes or special text */
blockquote,
.special-text {
  line-height: var(
    --line-height-quadruple
  ); /* Maximum line height for emphasis */
}

/* Margins */
.margin-top-1 {
  margin-top: var(--spacing-1) !important; /* Apply specific top margin */
}

.margin-top-15 {
  margin-top: var(--spacing-15) !important; /* Apply specific top margin */
}

.margin-top-2 {
  margin-top: var(--spacing-2); /* Apply specific top margin */
}

.margin-top-3 {
  margin-top: var(--spacing-3) !important; /* Apply specific top margin */
}

.margin-bottom-1 {
  margin-bottom: var(--spacing-1) !important; /* Apply specific top margin */
}

.margin-bottom-15 {
  margin-bottom: var(--spacing-15) !important; /* Apply specific top margin */
}

.margin-bottom-2 {
  margin-bottom: var(--spacing-2) !important; /* Apply specific top margin */
}

.margin-bottom-3 {
  margin-bottom: var(--spacing-3) !important; /* Apply specific top margin */
}

.margin-bottom-2 {
  margin-bottom: var(--spacing-2) !important; /* Apply specific bottom margin */
}

/* Paddings */
.padding-all {
  padding: var(--normal-spacing) !important; /* Apply uniform padding */
}

.padding-bottom {
  padding-bottom: var(--normal-spacing); /* Apply uniform padding */
}

.padding-horizontal-15 {
  padding-left: var(--normal-spacing5);
  padding-right: var(--normal-spacing5); /* Apply horizontal padding */
}

/* Spacing for container or sections */
.container,
.section {
  padding: var(--normal-spacing); /* Standard padding */
  margin-bottom: var(--spacing-2); /* Standard bottom margin for separation */
}

.l-spacer-1 {
  width: 50px;
  height: 20px;
}

/* width percentages*/

.l-w-100 {
  width: var(--width-full);
}
.l-w-50 {
  width: var(--width-50);
}




.max-w-300 { max-width: 300px; }
.max-w-500 { max-width: 500px; }
.width-100 { width: 100%; }
.l-flex { display: flex; }
.l-grid { display: grid; grid-template-columns: repeat(2, 1fr); }
.l-grid--2-columns { grid-template-columns: 1fr 1fr; }
.l-grid--3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px; 
}

.l-grid--4-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px; 
}

.l-justify-center { justify-content: center; }
.l-align-center { align-items: center; }

.l-flex {
  display: flex;
  gap: 10px; /*space */
}

.l-flex-column {
  flex-direction: column;
}

.l-wrap-content {
  flex-wrap: wrap;
}

.u-text-no-decoration{

  text-decoration: none !important;
}

.box {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.l-2-columns, .l-3-columns {
  flex: 1; /*Flexible adjustment to fill available space*/
  min-width: calc((100% / 2) - 10px); /* For two columns */
}

.l-3-columns {
  min-width: calc((100% / 3) - 10px); /* 3 columns */
}



/* Visibility */
.hide-item {
  display: none;
}
.show-item {
  display: block;
}


/*
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

*/



/* HTML font asignation */
body {
  font-family: var(--font-family-main);
}

/* Nav Bar */
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--clr-primary-background);
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0px;
 
height: 121px;
padding-top: 30px;
border-bottom: #b3a25691 solid .5px; 
}

/* Hide on mobile devices */
.navbar__menu {
  display: none;
}

.logo {
  font-weight: bold;
  color: var(--clr-primary);
  width: 267px ;
  height: 63px;
  margin-left: 160px;
}




/* Toggle icon Mobile */
.navbar__mobile-toggle:before {
  content: "☰";
  cursor: pointer;
  font-size: 30px;
}

/*Toggle icon close */
.navbar__mobile-toggle.open:before {
  content: "×";
}

/* Top Navbar items */
.navbar__items {


  display: flex;
  color: var(--clr-primary-text);
  text-transform: uppercase;
  font-size: var(--font-size-body);

}

/* Menu links */
.navbar__items li .navbar__link {
  text-decoration: none;
  color: var(--clr-primary);
}

/* Menu links  States - Hover*/
.navbar__items li .navbar__link:hover {
  color: var(--clr-accent);
}

/* Active state menu link */
.navbar__items li .navbar__link--active {
  border-bottom: 2px solid var(--clr-primary);
}

/* Hide the mobile menu */
.navbar__side {
  display: none;
}

.navbar__side--open {
  display: block;
}

/* Mobile menu toggle button */
.navbar__mobile-toggle {
  display: block;
}

/* Side Navbar top items */
.top__items {
  display: block;
  margin-top: 20px;
}

/* Menu links and states */

.menu__link {
  text-decoration: none;
  color: var(--clr-black-80);
}

.menu__link:hover {
  color: var(--clr-link--active);
}

.menu__link--active {
  color: var(--clr-link--active);
  font-weight: var(--font-weight-bold);
}

/*  show active state on focus */
a:focus {
  /*  color: var(--clr-link--active);
  font-weight: bolder; */
}

/*  Menu heading categories */

.menu__heading {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}


/*  BreadCrumb */

.breadCrumb-container {
  margin-top: 136px;
  margin-left: 231px;
}




.breadcrumb {
  list-style: none;
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-size: var(--font-size-standard);
}

.breadcrumb li {
  margin-right: 10px;
}

.breadcrumb li a {
  text-decoration: none;
  color: #0275d8;
  transition: color 0.3s ease;
}

.breadcrumb li a:hover {
  color: #01447e;
}

.breadcrumb li:not(:last-child)::after {
  content: '-';
  margin-left: 10px;
  color: #666;
}


/*  Hero Section */

.hero{
  background-color: #EDE6C9 !important;
  width: 100%;
  height: 560px;

}

.lower-hero{
position: relative;

}
.upper-hero{
  background-color: #FAF9EC;
  display: flex;
  justify-content: center;
    align-items: center;
  

  
  }

  .hero-right{
  
    
    width: 40%;

  }

  .hero-left{
   
    margin-bottom: 30px;
    margin-top: 30px;
    width: 40%;
    padding-left: 10%;

  }

  .hero-image{
    width: 526.42px !important ;
    height: 441.21px !important ;
    margin: 4px;
  }

/*  Curve Hero Content */

.custom-shape-divider-top-1711479978 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1711479978 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 76px;
}

.custom-shape-divider-top-1711479978 .shape-fill {
  fill: #FAF9EC;
}


/*  Buttons */


.u-button {
  width: 289px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  
}



/* Feacture product section  */

.feature-products{
  display: flex;
  width: 100%;
  height: 650px;
  
  flex-direction: column;
  align-items: center;



}


/* Slider */

.slider-container {
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
  gap: 60px;
 
}

.slide {
  flex: 0 0 auto;
  width: 320px;
  height: 381px;
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: start;
  padding: 8px;
  
}

.product-image{

  width: 304px !important;
  height: 144px !important;
 
}


/* Gardening Sections */

.gardening-tips{

  height: 160px !important;
    width: 100% !important;

}



/* General style for the slider */
.slider-container {
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  scrollbar-width: none; /* Hide the scroll bar for browsers that support it*/
}

.slider::-webkit-scrollbar {
  display: none; /*Hide scrollbar in Webkit*/
}

.slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 80%; /* The width of the cards on mobile */
  margin-right: 20%; /* Space to see a fragment of the following card*/
}

/* Styles for tablets and desktop, adjust as needed */
@media (min-width: 768px) {
  .slide {
    width: 25%; /* Four cards in a row*/
    margin-right: 0;
  }
}




/* Media query para pantallas más grandes */
@media (min-width: 768px) {
  .slide {
  
  }
}





/* Media Queries */

@media (min-width: 768px) {
  /* Tablets and above */
  .navbar__mobile-toggle {
    display: none;
    margin-left: 350px;
  }
  .swatch {
    max-width: 30%;
    min-width: 30%;

  }

  .content-container-main {

  
   
  }

  .card-full-width {
    position: relative;
    width: calc(100vw - 260px); /* Ajust width*/
  }

  .content-container-main {
    padding-left: 0;
 
  }

  .navbar__side {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    margin-top: 60px; /* Adjusts according to the height of your top navigation bar */
    max-height: 100vh; /* This makes the sidebar at most the height of the browser window */
    overflow-y: auto; /* Allows vertical scrolling if the content exceeds the maximum height */
    background-color: var(--clr-primary-background);
    min-width: 250px;
  }

  .no-menu {
    display: none !important;
  }
  .no-content-container-main {
    margin-left: 0px !important;
  }
}

/* Larger desktop screens */
@media (min-width: 1024px) {
  .top__items {
    display: none;
  }
  .navbar__menu {
    display: flex;
 
width: 696px;
margin-right: 150px;
  }
  .navbar__side {
    display: block;
    width: 250px;
  }
  .navbar__mobile-toggle {
    display: none;
    margin-left: 350px;
  }
  .swatch {
    max-width: 30%;
    min-width: 30%;

  
  }


  
}

