/* Type faces Import  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500&display=swap");

/* CSS rules to Type faces
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;


  */

:root {
  /* Color Variables  */
  --clr-primary: #000000; /* black */
  --clr-secondary: #333333; /* dark grey */
  --clr-accent: #e1e1e1; /* dark grey */
  --clr-light: #f5f5f5; /* very light grey */
  --clr-white: #ffffff; /* white */
  --clr-link--active: #1074ab; /* dark blue */

  --clr-blue-highlight: #0884c7; /* dark blue */
  --clr-blue-text: #466e84; /* dark blue */

  /* Site color Variables  */
  --clr-primary-text: #231007;
  --clr-secondary-text: #8ecddf;
  --clr-light-blue-bg: #9ee0de;

  --clr-text-light: #dfd9c3;
  --clr-text-gray: #909090;
  --clr-text-accent: #62311f;
  --clr-text-white: #ffffff;
  --clr-bg-gray-light:#F7F7F7;

  --clr-primary-background: #faf9eb;

  --clr-secondary-background: #053855;

  --clr-accent-background:#d68c3d;

  /* Tonal  color Variables  */
  --clr-brown-light: #dfd9c3;
  --clr-brown-medium: #ede6c9;
  --clr-sunset-light: #b6a248;
  --clr-sunset-dark: #d68c3d;
  --clr-gray-medium: #909090;
  --clr-blue-medium: #396f86;
  --clr-brown-dark: #DED9C5;


  
  

  /* Functuonal gray tones*/
  --clr-black-100: #000000; /* Black */
  --clr-black-90: #2b2b2b; /* Very Dark Grey */
  --clr-black-80: #454c53; /* Darker Grey */
  --clr-black-70: #565a71; /* Dark Grey */
  --clr-black-60: #838385; /* Medium Dark Grey */
  --clr-black-50: #969696; /* Medium Grey */
  --clr-black-40: #a1a1a1; /* True Medium Grey */
  --clr-black-30: #c3c1c1; /* Medium Light Grey */
  --clr-black-20: #d2d2d2; /* Light Grey */
  --clr-black-10: #e1e1e1; /* Very Light Grey */
  --clr-black-5: #f4f2f2; /* Off White */

  /* Font-family variables */
  --font-family-main: "Open Sans", sans-serif;
  --font-family-secondary: "Roboto", sans-serif;

  /* Font-size variables */

  --font-size-small: 0.8rem; /* 12px */
  --font-size-standard: 0.875rem; /* 14px */
  --font-size-body: 0.938rem; /* 15px */
  --font-size-medium: 1rem; /* 16px */
  --font-size-17: 1.063rem; /* 17px */
  --font-size-18: 1.125rem; /* 18px */
  --font-size-large: 1.25rem; /* 20px */
  --font-size-heading: 1.37rem; /* 22px */
  --font-size-heading-2: 1.56rem; /* 24px */
  --font-size-largex: 1.625rem; /* 26px */
  --font-size-title-standar: 1.875rem; /* 30px */
  --font-size-headLine: 2.18rem; /* 34px */
  --font-size-h-38: 2.375rem; /* 38px */

  --font-size-hero-h1: 2.8rem; /* 45px */
  --font-size-80: 5rem; /* 80px */
  --font-size-60: 3.75rem; /* 60px */
  --font-size-hero-sub: 1rem; /* 16px */

  /* Font-weight variables */

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-bolder: 700;
  --font-weight-boldest: 800;

  /* Line Height variables */

  --line-height-1: 1.3rem; /* 20 px */
  --line-height: 1.5rem; /* default */
  --line-height-1-8: 1.8rem;
  --line-heightdouble: 2rem;
  --line-heightTriple: 3rem;
  --line-height-quadruple: 4rem;

  /* spacing variables */
  --small-spacing: 0.5rem; /* 8px */
  --normal-spacing: 1rem; /* 16px */
  --spacing-1: 1.25rem; /* 20px */
  --spacing-22: 1.375rem; /* 22px */
  --spacing-15: 1.5rem; /* 24px */
  --spacing-2: 2rem; /* 32px */
  --spacing-3: 3rem; /* 48 */
  --spacing-10: 0.625rem; /* 10 */

  --spacing-20: 1.25rem; /* 20 */
  --spacing-30: 1.875rem; /* 30 */
  --spacing-40: 2.5rem; /* 40 */
  --spacing-50: 3.125rem; /* 50 */
  --spacing-60: 3.75rem; /* 60 */
  --spacing-70: 4.375rem; /* 70 */
  --spacing-80: 5rem; /* 80 */
  --spacing-100: 6.25rem; /* 100 */


   

 


  /* Heights fixed variables */
  --height-40: 40px;
  --height-50: 50px;
  --height-60: 60px;
  --height-70: 70px;
  --height-72: 72px;
  --height-80: 80px;
  --height-87: 87px;
  --height-90: 80px;
  --height-100: 100px;
  --height-200: 200px;
  --height-300: 300px;
  --height-400: 400px;
  --height-500: 500px;
  --height-600: 600px;
  --height-700: 700px;
  --height-800: 800px;



    /* Width fixed variables */
    --width-40: 40px;
    --width-50: 50px;
    --width-60: 60px;
    --width-70: 70px;
    --width-72: 72px;
    --width-80: 80px;
    --width-87: 87px;
    --width-90: 80px;
    --width-100: 100px;
    --width-200: 200px;
    --width-300: 300px;
    --width-400: 400px;
    --width-500: 500px;
    --width-600: 600px;
    --width-700: 700px;
    --width-800: 800px;


  /* Percentages variables */
  --per-100: 100%;
  --per-90: 90%;
  --per-80: 80%;
  --per-70: 70%;
  --per-60: 60%;
  --per-50: 50%;
  --per-40: 40%;
  --per-30: 30%;
  --per-20: 20%;
  --per-10: 10%;

  /* max-width variables */

  --max-w-300: 300px;
  --max-w-400: 400px;
  --max-w-500: 500px;
  --max-w-600: 600px;
  --max-w-700: 700px;
  --max-w-800: 800px;
  --max-w-900: 900px;
  --max-w-1000: 1000px;
  --max-w-1100: 1100px;
  --max-w-1200: 1200px;
  --max-w-1300: 1300px;
  --max-w-1400: 1400px;
  --max-w-1500: 1500px;

  /* min-width variables */

  --min-w-300: 300px;
  --min-w-400: 400px;
  --min-w-500: 500px;
  --min-w-600: 600px;
  --min-w-700: 700px;
  --min-w-800: 800px;
  --min-w-900: 900px;
  --min-w-1000: 1000px;
  --min-w-1100: 1100px;
  --min-w-1200: 1200px;
  --min-w-1300: 1300px;
  --min-w-1400: 1400px;
  --min-w-1500: 1500px;

  /* Radius variables */

  --radius-10: 0.625rem;  /* 10px */
  --radius-20: 1.25rem;   /* 20px */
  --radius-30: 1.875rem;   /* 30px */
  --radius-40: 2.5rem;   /* 40px */
  --radius-50: 3.125rem;   /* 50px */
  --radius-60: 3.75rem;   /* 60px */
  --radius-70: 4.375rem;   /* 70px */
  --radius-80: 5rem;   /* 80px */



    /* Border variables */

    --border-width-1: 1px; /* Default border width */
    --border-width-2: 2px; /* Default border width */
    --border-width-3: 3px; /* Default border width */
    --border-width-4: 4px; /* Default border width */
    --border-width-5: 5px; /* Default border width */
    --border-width-6: 6px; /* Default border width */
    --border-width-7: 7px; /* Default border width */


    /* Border Styles */

    --border-style-solid: solid; /* Default border style */
    --border-style-dashed: dashed; /* Default border style */
    --border-style-dotted: dotted; /* Default border style */
    --border-style-double: double; /* Default border style */



  
}

/* Box sizing and CSS reset */
*::before::after {
    box-sizing: border-box;
}

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  figure,
  picture {
    margin: 0;
    padding: 0;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  *{
    text-decoration: var(--text-decoration-none);


  }

/* Utility classes for font-family */

.u-font-family--main {  font-family: var(--font-family-main) !important;}
.u-font-family--secondary {  font-family: var(--font-family-secondary) !important;}

/* Utility classes for font-size */
.font-size--small {  font-size: var(--font-size-small); /* 0.8rem / 12px */}

.font-size--standard {  font-size: var(--font-size-standard); /* 0.875rem / 14px */}

.font-size--body {  font-size: var(--font-size-body); /* 15px */}

.font-size--medium {  font-size: var(--font-size-medium); /* 1rem / 16px */}

.font-size-17 {  font-size: var(--font-size-17); /*   17px */}

.font-size-18 {  font-size: var(--font-size-18); /*  18px */}

.font-size--large {  font-size: var(--font-size-large); /* 1.25rem / 20px */}
.font-size--largex {  font-size: var(--font-size-largex); /* 1.625rem / 26px  */}
.font-size--heading {  font-size: var(--font-size-heading); /* 1.37rem / 22px */}
.font-size--heading-2 {  font-size: var(--font-size-heading-2); /* 1.56rem / 25px */}

.font-size--title-standar {  font-size: var(--font-size-title-standar); /* 1.875rem / 30px */}

.font-size--headline {  font-size: var(--font-size-headLine); /* 2.18rem / 35px */}

.font-size--h2-38 {  font-size: var(--font-size-h-38); /* 2.375/ 38px */}

.font-size--hero-h1 {  font-size: var(--font-size-hero-h1) !important; /* 2.8rem / 45px */}

.font-size--80 {  font-size: var(--font-size-80); /*  80px */}
.font-size--60 {  font-size: var(--font-size-60); /*  60px */}

.font-size--hero-sub {  font-size: var(--font-size-hero-sub); /* 1rem / 16px */}

/* Utility classes for font-weight */
.font-weight--light {  font-weight: var(--font-weight-light);}
.font-weight--regular {  font-weight: var(--font-weight-regular);}
.font-weight--medium {  font-weight: var(--font-weight-medium);}
.font-weight--bold {  font-weight: var(--font-weight-bold);}

.font-weight--bolder {  font-weight: var(--font-weight-bolder);}

.font-weight--boldest {  font-weight: var(--font-weight-boldest);}

/* Utility  text transform */

.u-text-upper {  text-transform: uppercase;}
.u-text-lower {  text-transform: lowercase;}

.u-text-capitalize {  text-transform: capitalize;}
/* Utility classes for text colors */
.text--primary {
  color: var(--clr-primary-text);
}

.text--secondary {
  color: var(--clr-secondary-text);
}

.text--accent {
  color: var(--clr-accent);
}

.text--light {
  color: var(--clr-text-light);
}

.text--gray {
  color: var(--clr-text-gray);
}

.text--link-active {
  color: var(--clr-link--active);
}

.u-blue-text {
  color: var(--clr-blue-text);
}

.text--white {
  color: var(--clr-white);
}

.text--primary-background {
  color: var(--clr-primary-background);
}

.text--secondary-background {
  color: var(--clr-secondary-background);
}

.text--brown-light {
  color: var(--clr-brown-light);
}

.text--sunset-light {
  color: var(--clr-sunset-light);
}

.text--sunset-dark {
  color: var(--clr-sunset-dark) !important;
}

.text--brown-medium {
  color: var(--clr-gray-medium);
}

.text--blue-medium {
  color: var(--clr-blue-medium);
}

.text--blue-highlight {
  color: var(--clr-blue-highlight);
}

.text-black-100 {
  color: var(--clr-black-100);
}

.text-black-90 {
  color: var(--clr-black-90);
}

.text-black-80 {
  color: var(--clr-black-80);
}

.text-black-70 {
  color: var(--clr-black-70);
}

.text-black-60 {
  color: var(--clr-black-60);
}

.text-black-50 {
  color: var(--clr-black-50);
}

.text-black-40 {
  color: var(--clr-black-40);
}

.text-black-30 {
  color: var(--clr-black-30);
}

.text-black-20 {
  color: var(--clr-black-20);
}

.text-black-10 {
  color: var(--clr-black-10);
}

.text-black-5 {
  color: var(--clr-black-5);
}


/* Utility classes for background colors */

.bg-primary {
  background-color: var(--clr-primary);
}
.bg-gray-light {
  background-color: var(--clr-bg-gray-light);
}




.bg-secondary {
  background-color: var(--clr-secondary);
}

.bg-accent {
  background-color: var(--clr-accent);
}

.bg-light {
  background-color: var(--clr-light);
}

.bg-blue-highlight {
  background-color: var(--clr-blue-highlight);
}

.bg-primary-background {
  background-color: var(--clr-primary-background);
}

.bg-light-green {
  background-color: var(--clr-light-blue-bg);
}

.bg-white {
  background-color: var(--clr-white) !important;
}

.bg-clr-brown-dark {
  background-color: var(--clr-brown-dark) !important;
}


/* Background colors for specific purposes (text color variables being used for backgrounds*/
.bg-primary-text {
  background-color: var(--clr-primary-text);
}

.bg-secondary-text {
  background-color: var(--clr-secondary-text);
}

.bg-text-light {
  background-color: var(--clr-text-light);
}



.bg-text-gray {
  background-color: var(--clr-text-gray);
}

.bg-text-accent {
  background-color: var(--clr-text-accent);
}

.bg-text-white {
  background-color: var(--clr-text-white);
}

.bg-primary-background {
  background-color: var(--clr-primary-background) !important;
}

.bg-secondary-background {
  background-color: var(--clr-secondary-background);
}

.bg-accent-background {
  background-color: var(--clr-accent-background);
}

.bg-brown-light {
  background-color: var(--clr-brown-light) !important;
}

.bg-brown-medium {
  background-color: var(--clr-brown-medium);
}

.bg-sunset-light {
  background-color: var(--clr-sunset-light);
}

.bg-sunset-dark {
  background-color: var(--clr-sunset-dark);
}

.bg-gray-medium {
  background-color: var(--clr-gray-medium);
}

.bg-blue-medium {
  background-color: var(--clr-blue-medium);
}

.bg-black-100 {
  background-color: var(--clr-black-100);
}

.bg-black-90 {
  background-color: var(--clr-black-90);
}

.bg-black-80 {
  background-color: var(--clr-black-80);
}

.bg-black-70 {
  background-color: var(--clr-black-70);
}

.bg-black-60 {
  background-color: var(--clr-black-60);
}

.bg-black-50 {
  background-color: var(--clr-black-50);
}

.bg-black-40 {
  background-color: var(--clr-black-40);
}

.bg-black-30 {
  background-color: var(--clr-black-30);
}

.bg-black-20 {
  background-color: var(--clr-black-20);
}

.bg-black-10 {
  background-color: var(--clr-black-10);
}

.bg-black-5 {
  background-color: var(--clr-black-5);
}

/* Line height utilities */

.u-line-height-normal {  line-height: normal;}

.u-line-height-1 {  line-height: var(--line-height-1);}

.u-line-height-1-5 {  line-height: var(--line-height);}

.u-line-height-1-8 {  line-height: var(--line-height-1-8);}

.u-line-height-double {  line-height: var(--line-heightdouble) !important;}

.u-line-height-triple {  line-height: var(--line-heightTriple);}

/* margin utilities */

/* margin auto */
.u-m-a {
  margin-left: auto;
  margin-right: auto;}

 /* margin top */ 
.u-m-t-10{ margin-top: var(--spacing-10)!important;}
.u-m-t-20{ margin-top: var(--spacing-20)!important;}
.u-m-t-30{ margin-top: var(--spacing-30)!important;}
.u-m-t-40{ margin-top: var(--spacing-40)!important;}
.u-m-t-50{ margin-top: var(--spacing-50)!important;}
.u-m-t-60{ margin-top: var(--spacing-60)!important;}
.u-m-t-70{ margin-top: var(--spacing-70)!important;}
.u-m-t-80{ margin-top: var(--spacing-80) !important;}
.u-m-t-100{ margin-top: var(--spacing-100) !important;}

 /* margin botom */ 
.u-m-b-10{ margin-bottom: var(--spacing-10)!important;}
.u-m-b-20{ margin-bottom: var(--spacing-20)!important;}
.u-m-b-30{ margin-bottom: var(--spacing-30)!important;}
.u-m-b-40{ margin-bottom: var(--spacing-40)!important;}
.u-m-b-50{ margin-bottom: var(--spacing-50)!important;}
.u-m-b-60{ margin-bottom: var(--spacing-60)!important;}
.u-m-b-70{ margin-bottom: var(--spacing-70)!important;}
.u-m-b-80{ margin-bottom: var(--spacing-80) !important;}
.u-m-b-100{ margin-bottom: var(--spacing-100) !important;}


 /* margin left */ 
.u-m-l-10{ margin-left: var(--spacing-10)!important;}
.u-m-l-20{ margin-left: var(--spacing-20)!important;}
.u-m-l-30{ margin-left: var(--spacing-30)!important;}
.u-m-l-40{ margin-left: var(--spacing-40)!important;}
.u-m-l-50{ margin-left: var(--spacing-50)!important;}
.u-m-l-60{ margin-left: var(--spacing-60)!important;}
.u-m-l-70{ margin-left: var(--spacing-70)!important;}
.u-m-l-80{ margin-left: var(--spacing-80) !important;}
.u-m-l-100{ margin-left: var(--spacing-100) !important;}


/* Padding utilities */

 /* margin right */ 
.u-m-r-10{ margin-right: var(--spacing-10)!important;}
.u-m-r-20{ margin-right: var(--spacing-20)!important;}
.u-m-r-30{ margin-right: var(--spacing-30)!important;}
.u-m-r-40{ margin-right: var(--spacing-40)!important;}
.u-m-r-50{ margin-right: var(--spacing-50)!important;}
.u-m-r-60{ margin-right: var(--spacing-60)!important;}
.u-m-r-70{ margin-right: var(--spacing-70)!important;}
.u-m-r-80{ margin-right: var(--spacing-80) !important;}
.u-m-r-100{ margin-right: var(--spacing-100) !important;}


/* Padding options right */
.u-pa-r-10{ padding-right: var(--spacing-10)!important;}
.u-pa-r-20{ padding-right: var(--spacing-20)!important;}
.u-pa-r-30{ padding-right: var(--spacing-30)!important;}
.u-pa-r-40{ padding-right: var(--spacing-40)!important;}
.u-pa-r-50{ padding-right: var(--spacing-50)!important;}

/* Padding options left */
.u-pa-l-10{ padding-left: var(--spacing-10)!important;}
.u-pa-l-20{ padding-left: var(--spacing-20)!important;}
.u-pa-l-30{ padding-left: var(--spacing-30)!important;}
.u-pa-l-40{ padding-left: var(--spacing-40)!important;}
.u-pa-l-50{ padding-left: var(--spacing-50)!important;}
.u-pa-l-10-per{ padding-left: var(--per-10)!important;}

/* Padding options top */
.u-pa-t-10{ padding-top: var(--spacing-10)!important;}
.u-pa-t-20{ padding-top: var(--spacing-20)!important;}
.u-pa-t-30{ padding-top: var(--spacing-30)!important;}
.u-pa-t-40{ padding-top: var(--spacing-40)!important;}
.u-pa-t-50{ padding-top: var(--spacing-50)!important;}

/* Padding options bottom */
.u-pa-b-10{ padding-bottom: var(--spacing-10)!important;}
.u-pa-b-20{ padding-bottom: var(--spacing-20)!important;}
.u-pa-b-30{ padding-bottom: var(--spacing-30)!important;}
.u-pa-b-40{ padding-bottom: var(--spacing-40)!important;}
.u-pa-b-50{ padding-bottom: var(--spacing-50)!important;}



.u-m-a-all {
  margin: auto;
}

/* list options */

.li-square {
  list-style: square;
}

.li-circle {
  list-style: circle;
}

.li-dash {
  content: "-";
  text-indent: -5px;
}

/* Display utilities */
.u-hide{display: none;}
.u-block{display: block;}
.u-inline{display: inline;}
.u-inline-block{display: inline-block;}
.u-flex{display: flex;}
.u-inline-flex{display: inline-flex;}
.u-grid{display: grid;}
.u-inline-grid{display: inline-grid;}


/* Flex utilities */



.u-child-f-1 { flex: 1;}
.u-child-f-2 { flex: 2;}
.u-child-f-3 { flex: 3;}
.u-child-f-4 { flex: 4;}
.u-child-f-5 { flex: 5;}
.u-child-f-6 { flex: 6;}
.u-child-f-7 { flex: 7;}
.u-child-f-8 { flex: 8;}




/* Opacity utilities */

.u-o-0{opacity: 0;}
.u-o-10{opacity: 0.1;}
.u-o-20{opacity: 0.2;}
.u-o-30{opacity: 0.3;}
.u-o-40{opacity: 0.4;}
.u-o-50{opacity: 0.5;}
.u-o-60{opacity: 0.6;}
.u-o-70{opacity: 0.7;}
.u-o-80{opacity: 0.8;}
.u-o-90{opacity: 0.9;}
.u-o-100{opacity: 1;}


/* Position utilities */
.u-p-a{position: absolute;}
.u-p-r{position: relative;}
.u-p-f{position: fixed;}
.u-p-s{position: static;}



/* z-index utilities */
.u-zi-0{z-index: 0;}
.u-zi-1{z-index: 1;}
.u-zi-2{z-index: 2;}
.u-zi-3{z-index: 3;}
.u-zi-4{z-index: 4;}
.u-zi-5{z-index: 5;}
.u-zi-99{z-index: 99;}




/* Spacing utilities */
.u-margin-top-normal {
  margin-top: var(--normal-spacing);
}

.u-padding-t-0 {
  padding-top: 0px!important;
}


.u-padding-vertical-1 {
  padding-top: var(--normal-spacing) !important;
  padding-bottom: var(--normal-spacing) !important; /* Vertical padding */
}
.u-padding-horizontal-1 {
  padding-left: var(--normal-spacing) !important;
  padding-right: var(--normal-spacing) !important; /* Vertical padding */
}

.u-padding-horizontal-22 {
  padding-left: var(--spacing-22) !important;
  padding-right: var(--spacing-22) !important; /* Horizontal padding */
}

.u-padding-t-48 {
  padding-top: var(--spacing-3) !important;
}

.u-padding-t-60 {
  padding-top: var(--spacing-4) !important;
}

.u-padding-horizontal-1-5 {
  padding-left: var(--spacing-15) !important;
  padding-right: var(--spacing-15) !important; /* Vertical padding */
}

.u-padding-horizontal-2 {
  padding-left: var(--spacing-3) !important;
  padding-right: var(--spacing-3) !important; /* Vertical padding */
}






/* Utilities Radius*/

.u-radius-10 {
  border-radius: var(--radius-10);
}
.u-radius-20 {
  border-radius: var(--radius-20);
}
.u-radius-30 {
  border-radius: var(--radius-30);
}
.u-radius-40 {
  border-radius: var(--radius-40);
}
.u-radius-50 {
  border-radius: var(--radius-50);
}
.u-radius-60 {
  border-radius: var(--radius-60);
}
.u-radius-70 {
  border-radius: var(--radius-70);
}

.u-radius-80 {
  border-radius: var(--radius-80);
}



/* Utilities fix Height*/


.u-h-f-40 {height: var(--height-40);}
.u-h-f-50 {height: var(--height-50);}
.u-h-f-60 {height: var(--height-60) !important;}
.u-h-f-70 {height: var(--height-70);}
.u-h-f-72 {height: var(--height-72);}
.u-h-f-80 {height: var(--height-80);}
.u-h-f-87 {height: var(--height-87);}
.u-h-f-90 {height: var(--height-90);}
.u-h-f-100 {height: var(--height-100);}
.u-h-f-200 {height: var(--height-200);}
.u-h-f-300 {height: var(--height-300);}
.u-h-f-400 {height: var(--height-400);}
.u-h-f-500 {height: var(--height-500);}
.u-h-f-600 {height: var(--height-600);}
.u-h-f-700 {height: var(--height-700);}
.u-h-f-800 {height: var(--height-800);}


/* Utilities fix Width*/


.u-w-f-40 {width: var(--width-40);}
.u-w-f-50 {width: var(--width-50);}
.u-w-f-60 {width: var(--width-60);}
.u-w-f-70 {width: var(--width-70);}
.u-w-f-72 {width: var(--width-72);}
.u-w-f-80 {width: var(--width-80);}
.u-w-f-87 {width: var(--width-87);}
.u-w-f-90 {width: var(--width-90);}
.u-w-f-100 {width: var(--width-100);}
.u-w-f-200 {width: var(--width-200);}
.u-w-f-300 {width: var(--width-300);}
.u-w-f-400 {width: var(--width-400);}
.u-w-f-500 {width: var(--width-500);}
.u-w-f-600 {width: var(--width-600);}
.u-w-f-700 {width: var(--width-700);}
.u-w-f-800 {width: var(--width-800);}





/*  Width percentage Utilities*/

.u-width-100{width: var(--per-100);}
.u-width-90 {width: var(--per-90);}
.u-width-80 {width: var(--per-80);}
.u-width-70 {width: var(--per-70);}
.u-width-60 {width: var(--per-60);}
.u-width-50 {width: var(--per-50);}
.u-width-40 {width: var(--per-40);}
.u-width-30 {width: var(--per-30);}
.u-width-20 {width: var(--per-20);}
.u-width-10 { width: var(--per-10);}


/*  Height percentage Utilities*/

.u-height-100 {height: var(--per-100);}
.u-height-90 {height: var(--per-90);}
.u-height-80 {height: var(--per-80);}
.u-height-70 {height: var(--per-70);}
.u-height-60 {height: var(--per-60);}
.u-height-50 {height: var(--per-50);}
.u-height-40 {height: var(--per-40);}
.u-height-30 {height: var(--per-30);}
.u-height-20 {height: var(--per-20);}
.u-height-10 {height: var(--per-10);}

/* Center text */
.u-center-text {
  text-align: center;
}

/* Left text */
.u-left-text {
  text-align: left;
}

.u-right-text {
  text-align: right;
}


/* Justify Content */
.l-j-c { justify-content: center; }
.l-j-s { justify-content: start; }
.l-j-e { justify-content: end; }
.l-j-sb { justify-content: space-between; }
.l-j-sa { justify-content: space-around; }
.l-j-se { justify-content: space-evenly; }

/* Align Items */
.l-a-c { align-items: center; }
.l-a-s { align-items: start; }
.l-a-e { align-items: end; }
.l-a-b { align-items: baseline; }
.l-a-st { align-items: stretch; }

/* Align Self */
.l-as-c { align-self: center; }
.l-as-s { align-self: start; }
.l-as-e { align-self: end; }
.l-as-b { align-self: baseline; }
.l-as-st { align-self: stretch; }

/* Flex Direction */
.l-fd-r { flex-direction: row; }
.l-fd-rr { flex-direction: row-reverse; }
.l-fd-c { flex-direction: column; }
.l-fd-cr { flex-direction: column-reverse; }

/* Flex Wrap */
.l-fw-w { flex-wrap: wrap; }
.l-fw-nw { flex-wrap: nowrap; }
.l-fw-wr { flex-wrap: wrap-reverse; }

/* Flex Grow */
.l-fg-0 { flex-grow: 0; }
.l-fg { flex-grow: 1; }

/* Flex Shrink */
.l-fs-0 { flex-shrink: 0; }
.l-fs { flex-shrink: 1; }



/* Grid Template Columns */
.l-gtc-a { grid-template-columns: auto; }
.l-gtc-f { grid-template-columns: 1fr; }
.l-gtc-2 { grid-template-columns: repeat(2, 1fr); }
.l-gtc-3 { grid-template-columns: repeat(3, 1fr); }
.l-gtc-4 { grid-template-columns: repeat(4, 1fr); }

/* Grid Template Rows */
.l-gtr-a { grid-template-rows: auto; }
.l-gtr-f { grid-template-rows: 1fr; }
.l-gtr-2 { grid-template-rows: repeat(2, 1fr); }
.l-gtr-3 { grid-template-rows: repeat(3, 1fr); }
.l-gtr-4 { grid-template-rows: repeat(4, 1fr); }

/* Gap */
.l-gap-1 { gap: 1rem; }
.l-gap-2 { gap: 2rem; }
.l-gap-3 { gap: 3rem; }
.l-gap-4 { gap: 4rem; }

/* Place Items */
.l-pi-c { place-items: center; }
.l-pi-s { place-items: start; }
.l-pi-e { place-items: end; }
.l-pi-st { place-items: stretch; }
.l-pi-b { place-items: baseline; }




.l-j-c{justify-content: center;}

/* Center blocks or elements inline-block */
.u-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Center both */
.u-center-both {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Center content horizontall Flexy*/
.u-center-flex-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Center content vertically */
.u-center-flx--vertical {
  display: flex;
  align-items: center;
}

/* Center content both horizontally and vertically */
.u-center-flex--both {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Layout 1 column */
.u-grid--1-column {
  display: grid;
  grid-template-columns: 1fr;
}

/* Layout 2 columns */
.u-grid--2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Layout  3 columns */
.u-grid--3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
/* Layout  2 columns */
.u-grid--2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Gaps */

.u-gap-1 {
  gap: 1rem;
}
.u-gap-1-5 {
  gap: 1.5rem;
}

.u-gap-1-7 {
  gap: 1.7rem;
}
.u-gap-1-8 {
  gap: 1.8rem;
}

.u-gap-2 {
  gap: 2rem;
}

.u-gap-3 {
  gap: 3rem;
}

/* Basic text elements */
body,
p {
  line-height: var(--line-height); /* Default line height for body text */
}

/* Headings */
h1 {
  line-height: var(
    --line-heightdouble
  ); /* Slightly more space for top-level headings */
}

h2 {
  line-height: var(
    --line-heightTriple
  ); /* Increased line height for secondary headings */
}

/* Blockquotes or special text */
blockquote,
.special-text {
  line-height: var(
    --line-height-quadruple
  ); /* Maximum line height for emphasis */
}

/* Margins */
.margin-top-1 {
  margin-top: var(--spacing-1) !important; /* Apply specific top margin */
}

.margin-top-15 {
  margin-top: var(--spacing-15) !important; /* Apply specific top margin */
}

.margin-top-2 {
  margin-top: var(--spacing-2) !important; /* Apply specific top margin */
}

.margin-top-3 {
  margin-top: var(--spacing-3) !important;
}

.margin-bottom-1 {
  margin-bottom: var(--spacing-1) !important;
}

.margin-bottom-10 {
  margin-bottom: var(--spacing-10) !important;
}

.margin-bottom-15 {
  margin-bottom: var(--spacing-15) !important;
}

.margin-bottom-2 {
  margin-bottom: var(--spacing-2) !important;
}

.margin-bottom-3 {
  margin-bottom: var(--spacing-3) !important;
}

.margin-bottom-2 {
  margin-bottom: var(--spacing-2) !important;
}

.margin-left-1 {
  margin-left: var(--spacing-1) !important;
}
.margin-left-1-5 {
  margin-left: var(--spacing-15) !important;
}
.margin-left-2 {
  margin-left: var(--spacing-2) !important;
}
.margin-left-3 {
  margin-left: var(--spacing-3) !important;
}

/* Paddings */
.padding-all {
  padding: var(--normal-spacing) !important; /* Apply uniform padding */
}

.padding-bottom {
  padding-bottom: var(--normal-spacing); /* Apply uniform padding */
}

.padding-horizontal-15 {
  padding-left: var(--normal-spacing5);
  padding-right: var(--normal-spacing5); /* Apply horizontal padding */
}

/* Spacing for container or sections */
.container,
.section {
  padding: var(--normal-spacing); /* Standard padding */
  margin-bottom: var(--spacing-2); /* Standard bottom margin for separation */
}

.l-spacer-1 {
  width: 50px;
  height: 20px;
}

/* Height containers*/

/* width percentages*/

.l-w-100 {
  width: var(--per-100);
}
.l-w-50 {
  width: var(--per-50);
}

.max-w-300 {
  max-width: 300px;
}
.max-w-400 {
  max-width: 400px;
}
.max-w-500 {
  max-width: 500px;
}
.max-w-600 {
  max-width: 600px;
}
.max-w-700 {
  max-width: 700px;
}
.width-100 {
  width: 100%;
}
.l-flex {
  display: flex;
}
.l-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.l-grid--2-columns {
  grid-template-columns: 1fr 1fr;
}
.l-grid--3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.l-grid--4-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.l-justify-center {
  justify-content: center;
}
.l-align-center {
  align-items: center;
}

.l-flex {
  display: flex;
  gap: 10px; /*space */
}

.l-flex-column {
  flex-direction: column;
}

.l-wrap-content {
  flex-wrap: wrap;
}

.u-text-no-decoration {
  text-decoration: none !important;
}

.box {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.l-2-columns,
.l-3-columns {
  flex: 1; /*Flexible adjustment to fill available space*/
  min-width: calc((100% / 2) - 10px); /* For two columns */
}

.l-3-columns {
  min-width: calc((100% / 3) - 10px); /* 3 columns */
}

/* Visibility */
.hide-item {
  display: none;
}
.show-item {
  display: block;
}

/* Borders */

.u-border-none {
  border: none;
}

/* Border Widths */

.u-border-width-1 { border-width: var(--border-width-1); }
.u-border-width-2 { border-width: var(--border-width-2); }
.u-border-width-3 { border-width: var(--border-width-3); }
.u-border-width-4 { border-width: var(--border-width-4); }
.u-border-width-5 { border-width: var(--border-width-5); }
.u-border-width-6 { border-width: var(--border-width-6); }
.u-border-width-7 { border-width: var(--border-width-7); }


/* Borders Styles */

.u-border-style-solid { border-style: var(--border-style-solid); }
.u-border-style-dashed { border-style: var(--border-style-dashed); }
.u-border-style-dotted { border-style: var(--border-style-dotted); }
.u-border-style-double { border-style: var(--border-style-double); }

/* Borders Colors */

.u-border-color-primary { border-color: var(--clr-primary); }
.u-border-color-secondary { border-color: var(--clr-black-50); }
.u-border-color-accent { border-color: var(--clr-accent); }
.u-border-color-light { border-color: var(--clr-light); }
.u-border-color-dark { border-color: var(--clr-dark); }

/* Borders sides */
.u-border-top-width-1 { border-top-width: var(--border-width-1); }
.u-border-right-width-1 { border-right-width: var(--border-width-1); }
.u-border-bottom-width-1 { border-bottom-width: var(--border-width-1); }
.u-border-left-width-1 { border-left-width: var(--border-width-1); }


.u-border-top-style-solid { border-top-style: var(--border-style-solid); }
.u-border-right-style-solid { border-right-style: var(--border-style-solid); }
.u-border-bottom-style-solid { border-bottom-style: var(--border-style-solid); }
.u-border-left-style-solid { border-left-style: var(--border-style-solid); }


.u-border-top-color-primary { border-top-color: var(--clr-black-30); }
.u-border-right-color-primary { border-right-color:var(--clr-black-30); }
.u-border-bottom-color-primary { border-bottom-color:var(--clr-black-30); }
.u-border-left-color-primary { border-left-color: var(--clr-black-30); }

/*
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

*/

/* HTML font asignation */
body {
  font-family: var(--font-family-main);
  height: 100%;
}

.content-container{
  overflow-x: hidden;


}

/* Nav Bar */


.navbar-top {

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-primary-background); 
  width: 100%;
  margin-top: 0px;
  position: fixed;
  top: 0;
  border-bottom: #b3a25691 solid 0.5px;
 padding: 0;
  margin-top: 0px;
  height: 92px;
padding-top:0;

}




/* Hide on mobile devices */
.navbar__menu {
  display: none;
}

.logo {
  font-weight: bold;
  color: var(--clr-primary);
  width: 220px;
    height: 63px;
    margin-left: 10px;
    margin-top: -4px;

 
  }


/* Toggle icon Mobile */
.navbar__mobile-toggle:before {
  content: "☰";
  cursor: pointer;
  font-size: 40px;
  margin-right: 30px;
}

/*Toggle icon close */
.navbar__mobile-toggle.open:before {
  content: "×";
}

/* Top Navbar items */
.navbar__items {
  display: flex;
  color: var(--clr-primary-text);
  text-transform: uppercase;
  font-size: var(--font-size-body);
}

/* Menu links */
.navbar__items li .navbar__link {
  text-decoration: none;
  color: var(--clr-primary);
}

/* Menu links  States - Hover*/
.navbar__items li .navbar__link:hover {
  color: var(--clr-accent);
}

/* Active state menu link */
.navbar__items li .navbar__link--active {
  border-bottom: 2px solid var(--clr-primary);
}


/* Hide the mobile menu */
.navbar__side {
  display: none;
}

.navbar__side--open {
  display: block;
}

/* Mobile menu toggle button */
.navbar__mobile-toggle {
  display: block;
}

/* Side Navbar top items */
.top__items {
  display: block;
  margin-top: 70px;
  margin-left: 50px;
  line-height: 60px;
}


.mobile-items{
border-bottom: #2c2c20;
border-bottom-width: 0.5px;
border-bottom-style: solid;
margin-right: 30px;
margin-bottom: 10px;
}


/* Menu links and states */

.menu__link {
  text-decoration: none;
  color: var(--clr-black-80);
 
}

.menu__link:hover {
  color: var(--clr-link--active);
}

.menu__link--active {
  color: var(--clr-link--active);
  font-weight: var(--font-weight-bold);
}

/*  show active state on focus */
a:focus {
  /*  color: var(--clr-link--active);
  font-weight: bolder; */
}

/*  Menu heading categories */

.menu__heading {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.second-menu{
margin-top:50px;

}

.second-item{


  margin-left: 50px;
  margin-top: 10px;
  font-size: var(--font-size-medium);
  color:var(--clr-black-60);


}
.social{
 
  width: 79px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-top: 0px;
  font-size: var(--font-size-medium);
  color:var(--clr-black-80);
  font-weight: 600;
  text-align: center;

}
.logo-social{

  margin-top: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

/*  BreadCrumb */


.breadcrumb-container {
  margin-top: 90px;
  padding-top: 10px;
  padding-left: 30px;
  /* margin-left: 231px; */
  padding-bottom: 10px;
}

.breadcrumb {
  list-style: none;
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-size: var(--font-size-standard);
}

.breadcrumb li {
  margin-right: 10px;
}

.breadcrumb li a {
  text-decoration: none;
  color: #0275d8;
  transition: color 0.3s ease;
}

.breadcrumb li a:hover {
  color: #01447e;
}

.breadcrumb li:not(:last-child)::after {
  content: "-";
  margin-left: 10px;
  color: #666;
}

/*  Icons */

.icon1{
  width: 18px !important;
  height: auto;
  float: left;
  margin-top: 8px;
  margin-right: 22px;

}
.icon2{
  width: 21px !important;
  height: auto;
  float: left;
  margin-top: 12px;
  margin-right: 20px;
  
  }
  .icon3{
    width: 22px !important;
    height: auto;
    float: left;
    margin-top: 17px;
    margin-right: 20px;

}
.icon4{
  width: 24px !important;
  height: auto;
  float: left;
  margin-top: 13px;
  margin-right: 18px;
  
  }
  .icon5{
    width: 18px !important;
    height: auto;
    float: left;
    margin-top: 19px;
    margin-right: 22px;
    margin-left: 4px;
}
    
    
    .icon6{
      width: 26px !important;
      height: auto;
      float: left;
      margin-top: 17px;
      margin-right: 17px;
      margin-left: 2px;
      
      }




/*  Hero Section */


.hero {
  background-color: #ede6c9 !important;
  width: 100%;
  height: 680px;
}

.hero-comming-soon
{

  width: 100%;
  height: auto;

}


.lower-hero {
  position: relative;
}


.upper-hero {
  background-color: #faf9ec;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;

  
  }
  .upper-hero-comming-soon {
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    }
  

.hero-right {
  width: auto;
}


.hero-left {
  margin-bottom: 30px;
  margin-top: 20px;
  width: auto;
 padding-left:0%;
}
.hero-image {
  width: 380.42px !important;
  height: auto;
  margin: 4px;
}

/*  Curve Hero Content */

.custom-shape-divider-top-1711479978 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1711479978 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 76px;
}

.custom-shape-divider-top-1711479978 .shape-fill {
  fill: #faf9ec;
}

/*  Buttons */

.u-button {
  width: 289px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
}

/* Feacture product section  */



.feature-products {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: 800px;
}

.feature-products-title{
margin-top: 100px;

}

.product-image {
  width: 304px !important;
  height: 144px !important;
  margin-top: 8px;
}

/*Slider Features*/



.slider-container {
  overflow: hidden;
  position: relative;
  height: 440px;
  width: 100%;
}



.slider {
  display: flex;
  gap: 40px;
  scroll-snap-type: x mandatory !important;
  -webkit-overflow-scrolling: touch !important;
  overflow-x: scroll !important;
  scrollbar-width: none !important;
 
  padding-left: 50px;
  padding-right: 50px;
}



.slider::-webkit-scrollbar {
  display: none; /*Hide scrollbar in Webkit*/
}

.slide {
  flex: 0 0 auto;
  width: 320px;
  height: 381px;
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: start;
  /* padding: 8px; */
}

/* Gardening Sections */

.gardening-tips {
  height: 840px !important;
  width: 100% !important;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}



.slider-container-gardening {
  overflow: hidden;
  position: relative;
  height: 550px;
  width: 100%;
}

.gardening-slide {
  width: 264px !important;
  height: 403px !important;
  border-radius: 14px;
  box-shadow: 0px 4px 26px var(--clr-black-30);
  flex: 0 0 auto;
  width: 320px;
  height: 381px;
  /* background-color: white; */
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: start;
}

.gardening-slider {
  gap: 35px !important;
  margin: 0 auto;
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  gap: 60px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  scrollbar-width: none; /* Hide the scroll bar for browsers that support it*/
  padding-bottom: 30px;
  padding-top: 30px;
}




.gardening-slider::-webkit-scrollbar {
  display: none; /*Hide scrollbar in Webkit*/
}

.slider-down {
  margin-top: 50px;
}

/* Gaedening tips cards */

.tip-image {
  width: 264px !important;
  height: 165px !important;
  -webkit-border-top-left-radius: 14px;
  -webkit-border-top-right-radius: 14px;
  -moz-border-radius-topleft: 14px;
  -moz-border-radius-topright: 14px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

/* Gifts Section */

.gift {
  display: flex;
  flex-direction: row;
  height: 650px;
  width: 100%;
}


.gift-div {
  width: 33%;
}


.plant-gift {
  z-index: 1;
  margin-top: 230px;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 0, 0.4);
  margin-left: 41px;
}

.image-plant {
  width: 317px !important;
  height: auto;
  float: right;
  margin-top: -51px;
}

.gift-card {
}

.image-card {
  width: 292px !important;
  height: auto !important;
  margin-top: 210px;
  margin-left: -40px;
}

.gift-title {
  margin-top: 36px !important;
  font-size: var(--font-size-60);
  line-height: 40px !important;
}

.gift-title-small {
  font-size: 33px !important;
  
 
}
.gift-copy{
  width: 280px;
  margin-top: 259px !important;

}




/* Community Section */

.community {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: 590px;
}

.slide-community {


    width: 320px; /* Four cards in a row*/
    height: 278px;
   
  

}

.user-image {
  width: 62px !important;
  height: 62px !important;
  border-radius: 100% !important;
}

.stars {
  margin-top: -40px;
}


/* About Section */



.about{
width: 100%;
height: 624px;
background-image: url("./images/about-image.jpg");
background-size: cover;
background-color: yellow;

background-position: center top; 

background-repeat: no-repeat; 
}



.about-content {
  width: 401px;
  height: 343px;
  top: 437px;
  left: 3%;
}

.bg-about{
  width: 401px ;
  height: 343px;
}


/* About Accordion Section */

.accordeon {
  width: 100%;
  margin-top: 200px;
  max-width: 900px;
}

.accordion-body {
  display: none;
  padding: 20px;

}

.accordion-header {
  display: flex;
  justify-content: space-between;
  background-color: white !important;

  cursor: pointer;
  padding: 10px;
  border: none;
  outline: none;
  width: 100%;
  text-align: left;
  border-bottom: .5px solid var(--clr-black-40);
  margin-bottom: 30px;
  padding-bottom: 20px;
}




/* Contact Section */
.contact{
  height: 850px;
  background-color: yellow;
  width: 100%;
  flex-direction: column;


}

.form-container{
height: 100% 

}
.contact-form {
  height: 100%;
}
.form-input{
  padding-left: 10px;
  margin-left: -10px;

}

/* Footer  */

.footer{
  height: 100px !important;

}

.nav-footer-container{
  display: none;


}

  
  

/* Button animations */

.btn-gift{

  width: 219px !important; 
  margin-top: 40px !important; 
}

.btn {
  width: 289px;
  height: 38px;
  text-align: center;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  padding-top: 17px;
  padding-bottom: 5px;
}


/* Btn Animation */
.btn-animation {
  background: var(--clr-secondary-background);
  z-index: 1;
}
.btn-animation:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: var(--clr-light-blue-bg);
  transition: all 0.3s ease;
}
.btn-animation:hover {
  color: var(--clr-secondary-background);
}
.btn-animation:hover:after {
  left: 0;
  width: 100%;
}
.btn-animation:active {
  top: 2px;
}

/* Btn Animation 2 */

.btn-animation-2 {
  background: var(--clr-secondary-background);
  z-index: 1;
}

.btn-animation-2:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: var(--clr-white);
  transition: all 0.3s ease;
}
.btn-animation-2:hover {
  color: var(--clr-secondary-background);
}
.btn-animation-2:hover:after {
  left: 0;
  width: 100%;
}
.btn-animation-2:active {
  top: 2px;
}


/* Btn Animation 3 */

.btn-animation-3 {
  background: var(--clr-white);
  z-index: 1;
}

.btn-animation-3:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color:var(--clr-light-blue-bg);
  transition: all 0.3s ease;
}
.btn-animation-3:hover {
  color: var(--clr-secondary-background);
}
.btn-animation-3:hover:after {
  left: 0;
  width: 100%;
}
.btn-animation-3:active {
  top: 2px;
}


/* Btn states  */
.see-all {

}
.see-all:hover {
  color: var(--clr-accent-background);

}
.navigation-main:hover{
  color: var(--clr-accent-background);
  
 

}
.learn-more:hover{
  color: var(--clr-secondary-background) !important;

}




/* Animation hero  */

.scene {

  perspective: 10em;
}

.square {
  width:100%;
  height:100%;
  background-color:#0379ff;
  line-height:10em;
  text-align:center;
  color:#FFF;
}



.hero-image.y-axis {
  animation: y-axis-animation 5s ease-in-out 0s infinite alternate;
}

@keyframes y-axis-animation {
  from {transform: rotateY(3deg)}
  to {transform: rotateY(-3deg)}
}







.color1 {
  background-color: rgba(255, 165, 231, 0.4);
}

.color2 {
  background-color: rgba(0, 38, 255, 0.4);
}
.color3 {
  background-color: rgba(35, 41, 76, 0.4);
}








    
/*
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

*/

    .swatch {
      max-width: 30%;
      min-width: 30%;
    }
  
    .content-container-main {
    }
  
    .card-full-width {
      position: relative;
      width: calc(100vw - 260px); /* Ajust width*/
    }
  
    .content-container-main {
      padding-left: 0;
    }
  
    .navbar__side {
      /* display: block; */
      position: fixed;
      top: 0;
      left: 0;
      width: 80%;
      max-width:300px;

      height: 100vh; /* This makes the sidebar at most the height of the browser window */
      overflow-y: auto; /* Allows vertical scrolling if the content exceeds the maximum height */
      background-color: var(--clr-brown-dark); 
      min-width: 250px;
      z-index:5;
    }
  
    .no-menu {
      display: none !important;
    }
    .no-content-container-main {
      margin-left: 0px !important;
    }
  
  
  /* Larger desktop screens */
  @media (min-width: 1024px) {
    .top__items {
      display: none;
    }
    .navbar__menu {
      display: flex;
  
      width: 716px;
      margin-right: 150px;
    }
  
    .navbar__mobile-toggle {
      display: none;
      margin-left: 350px;
    }
    .swatch {
      max-width: 30%;
      min-width: 30%;
    }
  }
  

/*
:::::::::::::::::::::::::::::  DESKTOP QUERIES  :::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/


@media (min-width: 1200px) {
  .navbar__mobile-toggle {
    display: none;
   
  }

  .logo {
    font-weight: bold;
    color: var(--clr-primary);
    width: 267px;
    height: 63px;
    margin-left: 120px;
    margin-top: -24px;
    }
    .top__items {
      display: none;
    }
    .navbar__menu {
      display: flex;
  
      width: 716px;
      margin-right: 150px;
    }
    .navbar__side {
      display: none;
     
    }
    .navbar__mobile-toggle {
      display: none;
      margin-left: 350px;
    }
    .swatch {
      max-width: 30%;
      min-width: 30%;
    }
    .slider-container {
      
      height: 440px;
      width: auto;
    }

    .feature-products {
    
      height: 660px;
    }



    .slider-container-gardening {
      
      width: auto;
    }

    .gardening-slider {

      width: auto;
    
     
    }


    
    
}






@media (min-width: 768px) {
  /* Tablets and above */
 



  

    .navbar-top {
 
      padding: 1rem;
      height: 77px;
      padding-top: 30px;
     
    }


    /*  Breadcrumb  */

    .breadcrumb-container {
      margin-top: 120px;
      padding-bottom: 0px;
      padding-top: 0px;
      padding-left: 230px;
    
      
    }
   
    

    /*  Hero Section */

    .hero {
    
      height: 560px;
    }
    
    
    
.upper-hero {
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:row
}
.upper-hero-comming-soon {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:row
  }



.hero-right {
  width: 40%;
}


.hero-image {
  width: 526.42px !important ;
  height: 441.21px !important ;
  margin: 4px;
}

.hero-left {
  margin-bottom: 30px;
  margin-top: 30px;
  width: 40%;
  padding-left: 10%;
}
 /*  feature products*/

.feature-products-title{
  margin-top: 0px;
  
  }
  


 

   
    


    .slider {
    
      gap: 60px;
      padding-left: 0px;
      padding-right: 0px;
    
    }
    
   

/*  Gift Section*/

    .gift {

      height: 406px;
    
    }

    .plant-gift {

      margin-top: -10px;
      margin-left: 0px;
    
    
    }

    .gift-title {
      margin-top: 50px !important;
      font-size: var(--font-size-80)!important;
      line-height: var(--line-heightTriple)!important;
     
     
    }
    .gift-title-small {
font-size: var(--font-size-hero-h1) !important;
}

.gift-copy{
  width: 368px !important;
  margin-top: 40px !important;

}

.image-card {
  width: 292px !important;
  height: 252px !important;
  margin-top: 140px;
  margin-left: 60px;
}
.btn-gift {
  width: 289px;
  margin-top: 20px;
}

.btn {
  width: 289px;
}

/*  About Section*/
.about-content{

  left: 14%;

}

/*  Contact  Section*/

.contact{
  height: 700px;
  flex-direction: row;

}
.form-container{
height: 80%; 
}

/* Footer  */

.footer{
  height: 400px !important;

}

.nav-footer-container{
  display: flex !important;


}
/* Comming Soon  */

.hero-comming-soon
{

  width: 100%;
  height: 500;

}

  
/*
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

*/

  .swatch {
    max-width: 30%;
    min-width: 30%;
  }

  .content-container-main {
  }

  .card-full-width {
    position: relative;
    width: calc(100vw - 260px); /* Ajust width*/
  }

  .content-container-main {
    padding-left: 0;
  }

  .navbar__side {
   
    position: fixed;
    top: 0;
    left: 0;
  

  
  }

  .no-menu {
    display: none !important;
  }
  .no-content-container-main {
    margin-left: 0px !important;
  }
}

